@model IEnumerable<StarfleetShipyard.DATA.EF.Models.OrderShip>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ship)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ship.ShipName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderShipsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderShipsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderShipsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
