@model StarfleetShipyard.DATA.EF.Models.Ship

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ship</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitsOnOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitsOnOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipClasses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipClasses.ShipClassesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipStatus.ShipStatusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipTypes.ShipTypesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Planet)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ShipId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
